/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background-color: #ebf7ff}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@media only screen and (max-width: 768px) {

  body .search {
    margin-bottom: 50px !important;
  }
  body .search input {
    width: 100% !important;
    background-color: white !important;
    box-shadow: 0 0 10px grey;
  }
  body .items {
    width: 100%;
    display: grid !important;
    grid-template-columns: auto !important;
    grid-gap: 30px;
    margin-bottom: 100px;
  }

  body .item-list {
    margin-top: 30px;
    box-shadow: 0 0 10px grey;
    display: inline-grid;
    grid-template-columns: 40% 60% !important;
    padding: 10px;
    background-color: white;
  }

  body button {
    float: right;
    text-align: right;
    border:none;
    font-size: 20px;
    border-bottom: 1px black solid;
    background-color: transparent;
    margin-right: 0em !important;
  }


}
